ion-avatar {
    height: 50px;
    width: 50px;
}

.itemText {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    text-transform: uppercase;
    color: #3E4756;
}