<ion-slides pager="true" [options]="slideOpts">
  <ion-slide *ngFor="let menu of menus; let i = index">
    <ion-card class="dish-card" [style]="backgroundImage(i)">
      <div class="layer-up"></div>
      <ion-button shape="round" class="add-btn" fill="clear" (click)="addToTray(menu)">
        <ion-icon name="bag-add"></ion-icon>
      </ion-button>
      <div class="dish-text-infos info-title">
        {{ menu.label}}
      </div>
      <div class="dish-text-infos info-price">
        {{ menu.priceDF }} €
      </div>
    </ion-card>
  </ion-slide>
</ion-slides>
