ion-slides {
    margin-bottom: 80px;
}

.dish-card {
    position: relative;
    height: 40vh;
    width: 70vw;
    background-size: cover;
}

.backgroundImage {
    width: 70vw
}

.layer-up {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent 0%, #101a2e 100%);
    opacity: 0.8;
}

.dish-text-infos {
    z-index: 3;
    color: #FFFFFF;
    font-size: 1rem;
    text-transform: uppercase;
}

.info-title {
    font-size: 1rem;
    color: #FFFFFF;
    margin-top: 25vh;
}

.add-btn {
    color: #FFFFFF;
    margin-top: 1vh;
}

.info-price {
    margin-left: 5px;
    margin-top: 3px;
}