<ion-card>
  <ion-card-header>
    <h5>Réinitialisation du mot de passe</h5>
  </ion-card-header>
  <ion-card-content>
    <p>Si un compte est lié à cette adresse e-mail, une procédure de réinitialisation vous sera envoyée.</p>
    <form #form="ngForm">
      <ion-item>
        <ion-label position="floating">Adresse email</ion-label>
        <ion-input type="email"
                   ngModel
                   name="email"></ion-input>
      </ion-item>
      <ion-button class="mt-2"
                  expand="block"
                  type="button"
                  (click)="form.reset()">Envoyer</ion-button>
    </form>
  </ion-card-content>
</ion-card>
