header {
    margin     : 10vh 0 5vh 0;
    font-size  : 1.3rem;
    font-weight: 700;
    color      : #3e4756;
  }
  
  header b,
  header a {
    text-decoration: none;
    color          : #4194e1;
  }
  

nav .tabs{
    font-size  : 1rem;
    margin     : 0 0 1vh 0;
}

