.logo {
    width: 15%;
    margin: 2%;
}

.profilePic {
    height: 50px;
    width: 50px;
}

.profileName {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    text-transform: uppercase;
    color: #3E4756;
}

.textMenu {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    text-transform: uppercase;
    color: #3E4756;
}

.deco {
    color: white;
}