<p class="title">Mes commandes :</p>

<ion-list *ngFor="let order of orders">
    <ion-item detail="false"
    class="commands"
    [ngClass]="{
      'primary' : order.status == 0,
      'success' : order.status == 1,
      'warning' : order.status == 2,
      'danger' : order.status == 3}">
        <ion-label>
          <p class="itemText">commande effectuee le :</p>
          <p>{{ order.creationDate }} à {{ order.creationTime }}</p>
        </ion-label>
        <p class="itemText">{{ order.priceVAT }} € </p>
      </ion-item>
</ion-list>

<ion-item *ngIf="orders == null">
    <ion-label>Pas de commandes</ion-label>
</ion-item>
